/*
Planning of the css styling

Background-color: 
- Bold orange, rgb( 245, 94, 7)
- light orange, rgb( 247, 172, 129)

Title:
- light aura blue, rgb( 129, 247, 235)

Subtitles:
- Black

Links:
- bold blue, rgb( 74, 71, 245)

Fonts:
- Roboto Slab
*/